{% extends 'base.html.twig' %}

{% block title %}Urlshort - Home{% endblock %}

{% block body %}

    {{ parent() }}

    {# total items count #}
    <section class="listado">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="my-5">Listado de Urls</h1>
                    <table width="100%">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>Url</th>
                            <th>
                                Url Corta
                            </th>
                            <th>
                                Clicks
                            </th>
                            <th>
                                Fecha de creación
                            </th>
                        </tr>

                        {# table body #}
                        {% for article in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td><a href="{{ article.url }}" title="{{ article.url }}" class="btn-click" data-rel="{{ article.id  }}" target="_blank"> {{ article.url }}</a></td>
                                <td><a href="{{ article.url }}" title="{{ article.url_corta }}" class="btn-click" data-rel="{{ article.id  }}" target="_blank"> {{ article.url_corta }}</a></td>
                                <td> <span class="nClicks">{{ article.clicks }}</span></td>
                                <td>{{ article.fecha_creacion | date('Y-m-d h:m:s') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}


