{% extends 'base.html.twig' %}

{% block title %}Urlshort - Home{% endblock %}

{% block body %}

    {{ parent() }}

    {# total items count #}
    <section class="listado">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="my-5">Urls mas visitadas</h1>
                    <table class="table table-striped" width="100%">
                        <tr class="d-flex">
                            {# sorting of properties based on query components #}
                            <th class="col-5">Url</th>
                            <th class="col-3">
                                Url Corta
                            </th>
                            <th class="col-1 text-center">
                                Clicks
                            </th>
                            <th class="col-3 text-center">
                                Fecha de creación
                            </th>
                        </tr>

                        {# table body #}
                        {% for article in pagination %}
                            <tr class="{% if loop.index is odd %}color{% endif %} d-flex">
                                <td class="col-5"><a href="{{ article.url }}" title="{{ article.url }}" class="btn-click" data-rel="{{ article.id  }}" target="_blank"> {{ article.url }}</a></td>
                                <td class="col-3"><a href="{{ article.url }}" title="{{ article.url_corta }}" class="btn-click" data-rel="{{ article.id  }}" target="_blank"> {{ article.url_corta }}</a></td>
                                <td class="col-1 text-center"> <span class="nClicks">{{ article.clicks }}</span></td>
                                <td class="col-3 text-center">{{ article.fecha_creacion | date('Y-m-d h:m:s') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}


